*.pyc
llama_omni.egg-info/
models/
vocoder/
experiment.ipynb
My_learning.md
requirements.txt
sample_data/
whisper_downloader.py
.gradio/
data/
checkpoints/
experiments/
indic.py

logs/
outputs/
train_slurm.sh
train_backbone.sh
run_wandb_backbone_sweep.sh
uv.lock

delete_folder/

*.sh
.cache/
.ipynb_checkpoints/
.uv-cache/
.venv/
.venv*/
data/
delete_folder/
llama_omni.egg-info/
logs/
models/
outputs/
wandb/
*.sh
*.sbatch
uv.lock
backbone.sbatch
sweep.sbatch


__pycache__/