*.pyc
llama_omni.egg-info/
models/
vocoder/
experiment.ipynb
My_learning.md
requirements.txt
sample_data/
whisper_downloader.py
.gradio/
data/
checkpoints/
experiments/
indic.py

logs/
outputs/
train_slurm.sh
uv.lock

delete_folder/